.sixteen.columns
  %h2 Featured Image
= render 'featured_image', featured_image: @featured_image
.twelve.columns
  %p
    Welcome to the legacy app!
    Why not #{link_to 'view the images', images_path}.
